/*Common Styles*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2",cursive;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "MADE Soulmaze";
    src: url(fonts/MADE\ Soulmaze\ PERSONAL\ USE.otf);
}

.section-heading{
    font-family: "Oswald",sans-serif;
    font-size:8rem;
    font-weight: 300;
    color:#ddd;
    margin-right: 4rem;
}

.section-heading-line{
    width:15rem;
    height:0.2rem;
    background-color:#ddd;
}
/*End of Common Styles*/

/*Navbar*/
.navbar{
    width:100%;
    height:6rem;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:-6rem;
    z-index: 1;
    padding:2rem;
    transition: height 0.5s;
    animation:animateNavbar 1s 0.5s forwards;
}

@keyframes animateNavbar{
    0%{
        top:-6rem;
    }
    100%{
        top:0;
    }
}

.navbar.change{
    height:100vh;
}

.logo{
    position:absolute;
    top:1rem;
    left:2rem; 
}

.logo a{
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 1.8rem;
    color:#eee;
    letter-spacing: 0.1rem;
}

.logo span{
    font-family: "MADE Soulmaze", sans-serif;
    font-size:2.8rem;
    font-weight: bold;
    color:#9e0e09;
}

.nav-list{
position: absolute;
top:25%;
left:50%;
transform: translateX(-50%);
display: flex;
flex-direction: column;
align-items: center;
opacity: 0;
visibility: hidden;
transition: all 0.2s;
}

.change .nav-list{
    opacity:1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link{
    font-size: 2rem;
    font-family: "MADE Soulmaze",sans-serif;
    color: #fff;
    margin: 1.3rem 0;
    letter-spacing: 0.4rem;
    transition: color 0.4s;
}

.nav-link:hover{
    color: #9e0e09;
}
/*End of Navbar*/

/*Menu*/
.menu{
    width:4rem;
    height:4rem;
    position:fixed;
    top:1rem;
    right:3rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer;
}

.line{
    width: 100%;
    height:0.2rem;
    background-color: #eee;
    transition: transform 0.3s;
}

.line-1{
    width:50%;
}

   .change .line-1{
    transform: translate(100%,1rem) rotate(-35deg);
    transform-origin: right;
}  

/*   .change .line-1{
    width:100%;
    transform: translateY(1rem) rotate(-45deg);
}   */

.line-3{
    width:50%;
    margin-left:auto;
}

   .change .line-3{
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
}  

/*   .change .line-3{
    width:100%;
    transform: translateY(-1rem) rotate(45deg);
} 

 .change .line-2{
    opacity:0;
    visibility: hidden;
}   */

/*End of Menu*/

/*Section 1*/
.section-1{
    width:100%;
    height:100vh;
    background: url(images/dark-bg.jpeg) no-repeat;
    background-size: cover;
    position:relative;
}

.banner{
    width:100%;
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading{
    margin-bottom: 4rem;
    height:15rem;
    perspective: 50rem;
    overflow: hidden;
}

.banner-heading span{
    font-family: "Oswald", sans-serif;
    font-size:8rem;
    font-weight:400;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0,0.5);
    position:absolute;
    width:100%;
    display:flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity:0;
    letter-spacing: 3rem;
}

.heading-1{
    animation: animateHeading 12s 3s infinite;
}

 .heading-2{
    animation: animateHeading 12s 6s infinite;
}

.heading-3{
    animation: animateHeading 12s 9s infinite;
}

.heading-4{
    animation: animateHeading 12s 12s infinite;
} 

@keyframes animateHeading{
    0%{
        transform: translateZ(8rem);
        opacity:0;
        letter-spacing:3rem;
    }
    3%{
        transform: translateZ(0);
        opacity:1;
        letter-spacing:1.5rem;
    }
    25%{
        transform: translateZ(0);
        opacity:1;
        letter-spacing:1.5rem;
    } 
    28%{
        transform: translateZ(8rem);
        opacity:0;
        letter-spacing:3rem;
    }
    100%{
        transform: translateZ(8rem);
        opacity:0;
        letter-spacing:3rem;
    }
}

.banner-paragraph{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color:#fff;
    background-color: rgba(0,0,0,0.6);
    width:30%;
    margin:0 auto 4rem auto;
    padding:1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
}

.banner-btn{
    width:20rem;
    height:5rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color:#fff;
    font-size:1.5rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.5);
    text-shadow: 0.6rem 0.3rem 0.2rem rgba(0,0,0,0.4);
    cursor:pointer;
    opacity:0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
    position: relative;
    overflow:hidden;
}

.banner-btn::before{
    content:"";
    width:100%;
    height:100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top:0;
    left:-100%;
    transform:skewX(-30deg);
    transition: left 0.5s;
}

.banner-btn:hover::before{
    left:100%;
}

@keyframes fadeAnimation{
    0%{
        opacity:0;
        visibility: hidden;
    }
    100%{
        opacity:1;
        visibility: visible;
    }
}
/*End of Section 1*/

/*Section 2*/
.section-2{
    width: 100%;
    height:130vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    position:relative;
}

.video-wrapper{
    position:absolute;
    width:60rem;
    height:35rem;
    top:5rem;
    right:15rem;
    box-shadow: 3rem 3rem 3rem rgba(0,0,0,0.7);
    overflow: hidden;
}

.video{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity:0.3;
    transition: opacity 0.3s;
}

.controls{
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    transform: translateY(calc(100% - 0.7rem));
    transition: transform 0.4s;
}

.video-wrapper:hover .controls{
    transform: translateY(0.7rem);
}

.video-bar-wrapper{
    width:100%;
    height:0.7rem;
    background-color: #000;
    position:absolute;
    top:0;
    left:0;
}

.video-bar{
    height:100%;
    width:0;
    background-color: #d30819;
    transition: width 0.2s linear;
}

.buttons{
    padding:1rem 0.6rem 0.6rem 0.6rem;
}

.buttons button{
    background: none;
    border:none;
    cursor:pointer;
}

.buttons i{
    font-size: 2rem;
    color:#fff;
}

.section-2-paragraph{
    width:60rem;
    position:absolute;
    bottom:4rem;
    right:15rem;
    font-size: 1.5rem;
    color: #ddd;
    border-top: 0.3rem double #aaa;
    border-bottom: 0.3rem double #aaa;
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
    text-shadow: 1rem 1rem 2rem rgba(0,0,0,0.7);
}

.fa-quote-left{
    align-self:flex-start;
    font-size:4rem;
    margin-bottom: 1rem;
}

.fa-quote-right{
    align-self:flex-end;
    font-size:4rem;
}
/*End of Section 2*/

/*Section 3*/
.section-3{
    width:100%;
    height:100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.pricing-cards-wrapper{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    padding:5rem;
}

.pricing-card{
    width: 18rem !important;
    height: 35rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0,0,0,0.7);
}

.pricing-card-front{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-card-heading{
    font-size: 1.5rem;
    font-weight: 300;
    color:#fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.heading-free{
    background: linear-gradient(to right, #087285, #0da5d3);
    border-radius: 1rem 1rem 0 0;
}

.heading-basic{
    background: linear-gradient(to right, #946809, #bdba0e);
    border-radius: 1rem 1rem 0 0;
}

.heading-standard{
    background: linear-gradient(to right, #a10c04, #e23b3b);
    border-radius: 1rem 1rem 0 0;
}

.heading-premium{
    background: linear-gradient(to right, #0b7e48, #3be286);
    border-radius: 1rem 1rem 0 0;
}

.pricing-card-price{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 5rem;
    font-weight: 300;
    color:#fff;
}

.pricing-card-list li{
    margin-bottom: 0.5rem;
}

.list-free li{
    color:#0da5d3;
}

.list-basic li{
    color:#bdba0e;
}

.list-standard li{
    color:#e23b3b;
}

.list-premium li{
    color:#3be286;
}

.pricing-card-list i{
    font-size: 1.3rem;
    width: 1.8rem;
}

.pricing-card-list span{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.pricing-card-btn{
    width:14rem;
    height:5rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
    border:none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0,0.5);
}

.btn-free{
    background-color: #0da5d3;
}

.btn-basic{
    background-color: #bdba0e;
}

.btn-standard{
    background-color: #e23b3b;
}

.btn-premium{
    background-color: #3be286;
}

.pricing-card-back{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
}

.back-free{
    background: linear-gradient(to right, #087285, #0da5d3);
}

.back-basic{
    background: linear-gradient(to right, #946809, #bdba0e);
}

.back-standard{
    background: linear-gradient(to right, #a10c04, #e23b3b);
}

.back-premium{
    background: linear-gradient(to right, #0b7e48, #3be286);
}

.pricing-card-back a{
    font-size: 2rem;
    color:#fff;
}
/*End of Section 3*/

/*Section 4*/
.section-4{
    width:100%;
    height:130vh;
    background-color: #171718;
    display:flex;
    align-items: center;
    padding:0 10rem;
}

.contact-wrapper{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details{
    display:flex;
    margin-bottom:8rem;
}

.contact-details div{
    width:15rem;
    text-align: center;
    margin:4rem;
}

.contact-details i{
    font-size: 3.8rem;
    color:#7a1010;
}

.contact-details h3{
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 2.2rem;
    margin:1rem 0;
    color:#ccc;
}

.contact-details p{
    font-size: 1.6rem;
    color:#aaa;
}

.contact-wrapper h1{
    font-size: 4rem;
    color:#ccc;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contact-form{
    width:50rem;
    display:flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    padding:1.5rem;
    background-color: #444;
    color:#eee;
    border:none;
    margin-bottom: 1.5rem;
    font-family: "Oswald",sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.contact-form textarea{
    max-width: 100%;
    max-height: 12rem;
    min-height: 5rem;
}

.contact-form input[type="submit"]{
    background-color: #7a1010;
    text-transform: uppercase;
    cursor:pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover{
    background-color: #5f0303;
}
/*End of Section 4*/

/*Footer*/
.footer{
    width:100%;
    height:8rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.footer-nav a{
    font-family: "MADE Soulmaze", sans-serif;
    font-size:1.5rem;
    color:#ccc;
    margin-right: 2rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}

.footer-nav a:hover{
    color:#862323;
}

.copyright{
    font-size: 1.5rem;
    color:#ddd;
}
/*End of Footer*/

/*Responsive*/
@media(min-width:1500px){
    .section-1{
        height:100vh;
    }

    .section-2{
        height: 100vh;
    }

    .video-wrapper{
        width:80rem;
        height:50rem;
    }

    .section-2-paragraph{
        width:80rem;
        bottom:4rem;
        right:15rem;
        font-size: 2.5rem;
    }
}

@media(min-width:1700px){
    .navbar{
        width:100%;
        height:10rem;
        background-color: rgba(0,0,0,0.9);
        position:fixed;
        top:-10rem;
        z-index: 1;
        padding:5rem;
        transition: height 0.5s;
        animation:animateNavbar 1s 0.5s forwards;
    }
    
    @keyframes animateNavbar{
        0%{
            top:-10rem;
        }
        100%{
            top:0;
        }
    }

    .logo{
        position:absolute;
        top:2rem;
        left:4rem; 
    }
    
    .logo a{
        font-family: "MADE Soulmaze", sans-serif;
        font-size: 3rem;
        color:#eee;
        letter-spacing: 0.1rem;
    }
    
    .logo span{
        font-family: "MADE Soulmaze", sans-serif;
        font-size:4rem;
        font-weight: bold;
        color:#9e0e09;
    }

    .menu{
        width:6rem;
        height:6rem;
        top:2rem;
        right:4rem;
    }
    
    .change .line-1{
        transform: translate(100%,1.55rem) rotate(-35deg);
        transform-origin: right;
    }  
    
    .change .line-3{
        transform: translateY(-1.55rem) rotate(35deg);
        transform-origin: right;
    } 

    .nav-list{
        top:35%;
        }
        
    .nav-link{
            font-size: 4rem;
            letter-spacing: 0.8rem;
        }

        .banner{
            top:30%;
        }
        
        .banner-heading{
            margin-bottom: 6rem;
            height:20rem;
        }
        
        .banner-heading span{
            font-size:10rem;
        } 
        
        .banner-paragraph{
            font-size: 4rem;
            margin:0 auto 8rem auto;
            padding:1rem 0;
        }
        
        .banner-btn{
            width:30rem;
            height:10rem;
            font-size:3rem;
            border-radius: 5rem;
        }    

        .pricing-card{
            width: 25rem !important;
            height: 40rem !important;
        }
        
        .contact-details{
            margin-bottom:10rem;
        }
        
        .contact-details div{
            width:25rem;
            margin:4rem;
        }
        
        .contact-details i{
            font-size: 5rem;
        }
        
        .contact-details h3{
            font-size: 3rem;
        }
        
        .contact-details p{
            font-size: 2rem;
        }
        
        .contact-wrapper h1{
            font-size: 6rem;
            margin-bottom: 4rem;
        }
        
        .contact-form{
            width:80rem;
        }
        
        .contact-form input,
        .contact-form textarea{
            padding:2rem;
            margin-bottom: 2rem;
            font-size: 2.4rem;
        }
        
        .contact-form textarea{
            max-height: 15rem;
            min-height: 5rem;
        } 

        .footer{
            height:12rem;
        }
        
        .footer-nav a{
            font-size:2.3rem;
            margin-right: 3rem;
        }
        
        .copyright{
            font-size: 2.3rem;
        }    
}

@media(max-width:1280px){
    .video-wrapper{
        width:50rem;
        height:30rem;
        right:10rem;
    }

    .section-2-paragraph{
        width:50rem;
        right:10rem;
        font-size: 2rem;
    }

    .section-3 .section-heading-line{
        margin-right:3rem;
    }
}

@media(max-width:1100px){
    html{
        font-size: 55%;
    }

    .section-heading{
        font-size: 6rem;
    }

    .section-heading-line{
        width:10rem;
    }

    .section-2{
        height:100vh;
    }
}

@media(max-width:1000px){
    .section-1{
        height:80vh;
    }

    .section-4{
        height:100vh;
    }

    .contact-details{
        margin-bottom:5rem;
    }
    
    .contact-details div{
        width:12rem;
        margin:2rem;
    }
    
    .contact-details i{
        font-size: 2rem;
    }
    
    .contact-details h3{
        font-size: 2rem;
    }
    
    .contact-details p{
        font-size: 1rem;
    }
    
    .contact-wrapper h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .contact-form{
        width:45rem;
    }
    
    .contact-form input,
    .contact-form textarea{
        padding:1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .contact-form textarea{
        max-height: 10rem;
        min-height: 5rem;
    } 

    .footer{
        height:6rem;
    }
    
    .footer-nav a{
        font-size:1.2rem;
        margin-right: 1rem;
    }
    
    .copyright{
        font-size: 1.2rem;
    }   
}

@media(max-width:900px){
    html{
        font-size: 45%;
    }

    .section-heading-line{
        opacity: 0;
        visibility: hidden;
    }
}

@media(max-width:700px){

    .section-1{
        height:60vh;
    }
    
    .banner-heading{
        margin-bottom: 3rem;
        height:15rem;
    }
    
    .banner-heading span{
        font-size:5rem;
    } 

    .banner-paragraph{
        font-size: 2rem;
    }
    
    .banner-btn{
        width:15rem;
        height:8rem;
        font-size:1.7rem;
        border-radius: 4rem;
    }   

    .section-2,
    .section-3,
    .section-4{
        display: flex;
        flex-direction: column;
    }

    .video-wrapper{
        top:20%;
        left:50%;
        transform:translateX(-50%);
        width:80rem;
    }

    .section-2-paragraph{
        left:50%;
        transform:translateX(-50%);
        width:80rem;
        margin-bottom: 5rem;
    }

    .section-2 .section-heading{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .section-3{
        height:auto;
        padding:5rem 0 10rem 0;
    }

    .swiper{
        width:100%;
    }

    .section-4{
        height: auto;
    }

    .section-4 .section-heading{
        margin-top:5rem;
        margin-bottom:5rem;
    }

    .contact-wrapper{
        margin-bottom: 5rem;
    }

    .contact-form{
        width:60rem;
    }

    .contact-details div{
        width:20rem;
        margin:2rem;
    }
}

@media(max-width:600px){
    html{
        font-size: 40%;
    }

    .video-wrapper{
        top:20%;
        left:50%;
        transform:translateX(-50%);
        width:50rem;
    }

    .section-2-paragraph{
        left:50%;
        transform:translateX(-50%);
        width:50rem;
        margin-bottom: 5rem;
    }
}

@media(max-width:500px){
    .footer{
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footer-nav a{
        font-size: 2rem;
    }

    .copyright{
        font-size: 2rem;
    }
}

@media(max-width:460px){
    html{
        font-size: 35%;
    }
}

@media(max-width:400px){
    .video-wrapper{
        width:30rem;
    }

    .section-2-paragraph{
        width: 30rem;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        margin-bottom:8rem;
    }
    
    .contact-details i{
        font-size: 5rem;
    }
    
    .contact-details h3{
        font-size: 4rem;
    }
    
    .contact-details p{
        font-size: 3rem;
    }

    .contact-form{
        width: 40rem;
    }

    .footer{
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footer-nav a{
        font-size: 1.4rem;
    }

    .copyright{
        font-size: 1.4rem;
    }
}
/*End of Responsive*/